.card {
//box-shadow: rgb(52, 41, 76) 4px 4px 20px;
    box-shadow: rgb(123, 114, 114) 4px 4px 20px;
    border-radius: 7px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}