<aside>
    <input type="text" placeholder="Search">

    <img class="polygon" src="assets/images/Polygon.png" alt="">

    <h4>Username</h4>

    <div class="relation-container">
        <h4>Relations</h4>
        <div class="profiles">
            <div class="profile">
                <img class="polygon-small" src="assets/images/Polygon.png" alt="">
                <p>Jean Rene</p>
            </div>
            <div class="profile">
                <img class="polygon-small" src="assets/images/Polygon.png" alt="">
                <p>Jean Rene</p>
            </div>
            <div class="profile">
                <img class="polygon-small" src="assets/images/Polygon.png" alt="">
                <p>Jean Rene</p>
            </div>
        </div>
        <a href="">more</a>
    </div>

    <div class="relation-stream">
        <h3>Your Stream</h3>
    </div>
</aside>
