header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(59, 59, 59);
    background-color: white;
    //background-color: rgb(13, 10, 20);
    z-index: 666;
    width: 77%;

    h1 {
        margin: 0;
        font-weight: lighter;
        font-size: 1.8rem;
    }
}
