.auth-container {
    display: grid;
    place-items: center;
    height: 100vh;

    .auth-card-container {
        box-shadow: rgb(123, 114, 114) 4px 4px 20px;
        border-radius: 0 0 17px 0;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 4rem 0 4rem;

            img {
               height: 80px;
               width: 80px;
               margin: .5rem;
           }
        }

    }

    form {
        width: 100%;
        //display: grid;
        display: none;
        place-items: center;
        padding: 3rem 4rem;

        label {
            display: block;
            margin-bottom: .5rem;
        }

        input {
            margin-bottom: .5rem;
            padding: .7rem;
            width: 100%;
        }

        .form-group {
            width: 100%;
        }
    }

    .auth-options {
        display: flex;
        //border: 1px solid red;
        color: white;
        text-align: right;
        background-color: rgb(31, 19, 46);
        border-radius: 0 0 17px 0;

        .signup {
            flex: 1.4;
            padding: .5rem 1rem;
            border-radius: 0 0 17px 0;
            background-color: rgb(68, 44, 98);
        }

        .login {
            flex: 1;
            border-radius: 0 0 17px 0;
            padding: .5rem 1rem;
        }
    }
}