<div class="auth-container">
    <div class="auth-card-container">
        <div class="title">
            <img class="polygon" src="assets/images/Polygon.png" alt="">
            <h1>Groupomania</h1>
        </div>

        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password">    
            </div>
        </form>

        <div class="auth-options">
            <div class="signup">
                <a>SignUp!</a>
            </div>
            <div class="login">
                <a>Login!</a>
            </div>
        </div>
    </div>
</div>

